{% extends 'base.html.twig' %}

{% block title %}Accueil - Versailles{% endblock %}

{% block body %}
<main>
    <div class="content">
        <h2>Versailles</h2>
        <h2>Versailles</h2>
        <div class="wave"></div>
    </div>
</main>
{% endblock %}