<header>
    <div class="container">
        <div class="logo">
            <img src="{{ asset('images/icon.png') }}" alt="Restaurant Logo" style="width: 100px;">
        </div>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Menu</a></li>
                <li><a href="#">Reservation</a></li>
            </ul>
        </nav>
    </div>
</header>