{% extends 'base.html.twig' %}

{% block title %}Menu{% endblock %}

{% block body %}
    <h1>Notre Menu</h1>
    <div class="menu-container">
        {% for menu in menus %}
            <div class="menu-section">
                <h2>{{ menu.name }}</h2>
            </div>
        {% endfor %}
    </div>
    {% if app.user %}
        <div class="menu-button-container">
            <a href="{{ path('menu_ges') }}" class="btn btn-primary">Gestion Menu</a>
        </div>
    {% endif %}
{% endblock %}