{% extends 'base.html.twig' %}

{% block title %}Menu{% endblock %}

{% block body %}
    <h1>Notre Menu</h1>
    <div class="menu-container">
        {% for menu in menus %}
            <div class="menu-section card">
                <h2 class="menu-title">{{ menu.name }}</h2>
                <ul class="menu-items">
                    {% for menuItem in menuItems %}
                        {% if menuItem.menu.id == menu.id %}
                            <li class="menu-item">{{ menuItem.item.name }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
    {% if app.user and app.user.email == 'admin@restaurant.com' %}
        <div class="menu-button-container">
            <a href="{{ path('menu_ges') }}" class="btn btn-primary">Gestion Menu</a>
        </div>
    {% endif %}
{% endblock %}